@model System.String[]


    @{
    ViewBag.Title = "Files";
    }

    <h2>Files</h2>
    <ul>
        @foreach (var p in this.Model) {
        <li>@Html.ActionLink(p, "Contents", "Files", new { id = p })</li>
        }
    </ul>
